# Prerequisites
*.d

# Build directory
build/*

# Apps for inclusion in container images
Containers/echoNsClient/echoNsClient
Containers/echoNsServer/echoNsServer

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
